*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env
trials/
CLIP/
taming-transformers/
steps/
taming/
*.png
vqgan_imagenet_f16_16384.ckpt
vqgan_imagenet_f16_16384.yaml
